

</div>
<div id="footer">
    <div id="left">Pozyskiwanie i odzyskiwanie danych elektronicznych<br>Prowadzący: dr inż. Mirosław Hajder</div>
    <div id="right">Dawid Grochowski<br>w50009, 3UIZ</div>
</div>
</body>
</html>
